#!/usr/bin/make -f
# -*- makefile -*-

export ROS_DISTRO:=@ROS_DISTRO@
export CMAKE_PREFIX_PATH:=/opt/ros/${ROS_DISTRO}:${CMAKE_PREFIX_PATH}
export LD_LIBRARY_PATH:=/opt/ros/${ROS_DISTRO}/lib:${LD_LIBRARY_PATH}

%:
	dh $@ --parallel
